<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pratice</title>
    <link rel="stylesheet" href="css/index.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/118221/19673/5afa751cf629d910dce29dc1.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/118221/149/5afa7f72f629d910dce29de0.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/118221/46121/5afa7ef5f629d910dce29ddd.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="echarts class-div-circleTable">
    <h1 class="css120782bff11cdcd">南京江宁各地区出租占比</h1>
    <div class="circleTable"></div>
</div>
<div class="echarts class-div-priceTable">
    <h1 class="css1207a936dd1cdcd">南京江宁出租房租金比例</h1>
    <div class="priceTable"></div>
</div>
<div class="echarts class-div-columnTable">
    <h1 class="css1207ab208c1cdcd">南京江宁出租房面积占比</h1>
    <div class="columnTable"></div>
</div>
<script src="js/lib/echarts.min.js"></script>
<script src="js/tableOptions.js"></script>
<script src="js/util.js"></script>
<script src="js/index.js"></script>
</body>
</html>