html body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(243, 243, 243);
}

.echarts {
    border-bottom: #C9C9C9 solid 3px;
}

.class-div-circleTable, .class-div-columnTable, .class-div-priceTable {
    text-align: center;
}

.circleTable, .columnTable, .priceTable{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}